extends layout

block content
		h1 
			a(href="/") Agregar nueva camiseta

		div.contenedor

			form(name="agregarItem", action="/agregar", method="post")
				label Color
				input(type="text", name="color")

				label Imagen
				input(type="text", name="imagen")

				label Precio
				input(type="text", name="precio")

				label Descripción
				input(type="text", name="descripcion") 

				input(type="submit", value="Guardar")



		
