extends layout

block content
		h1 
			a(href="/") Tienda de camisetas

		div.contenedor

		
			p Nuestra tienda de camistetas tiene las mejores camisetas de la internet, satisfacción 100% garantizada

			img(src="images/camiseta1.png", width="250")
			
			a(href="/tienda").comprar  Comprar

		
